/* This file will hold styles that are loaded using the same media query as the wide grid. */
.my-front-page {
    min-height: 700px;
    width: 100%;
    background-image: url('../images/newquay-wide.jpg');
	background-position: top left;
	background-repeat: no-repeat;
	background-size: cover;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	color: #fff;
	-webkit-box-shadow: 0px 20px 10px 0px rgba(50, 50, 50, 0.25);
	-moz-box-shadow:    0px 20px 10px 0px rgba(50, 50, 50, 0.25);
	box-shadow:         0px 20px 10px 0px rgba(50, 50, 50, 0.25);
}
/* Styles for Home Panel page content type */
.home-page-panel-pane_intro h2 {
	font-size: 2.9em;
	padding-left: 0;
}
.home-page-panel-pane_intro p {
	font-size: 2.1em;
}
.home-page-panel-pane_x3 h2.pane-title, .home-page-panel-pane_x3-right h2.pane-title {
	font-size: 1.9em;
}
.home-page-panel-pane h2.pane-title, .home-page-panel-pane-right h2.pane-title {
	font-size: 2.1em;
}
#surf-container-1 {
    background-image: url('../images/port-river-wide.jpg');
}
#surf-container-2 {
    background-image: url('../images/port-river-pnue-wide.jpg');
}
#surf-container-3 {
    background-image: url('../images/port-river-creek-wide.jpg');
}